body{
    
    background-color: black;
}

.motivation-img{
    border: 5px solid plum;
    width: 100%;
}

.poster{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
    margin-top: 100px;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}